exif
tqdm
boxsdk
openpyxl
ffmpeg-python
pandas==2.2.2
scikit-image==0.22.0
scikit-learn==1.4.2
opencv-python==4.9.0.80
opencv-python-headless==4.9.0.80
matplotlib>=3.6.1
funcy==2.0
wandb==0.17.0
albumentations==1.4.6
