pandas==2.0.3
scikit-image==0.21.0
opencv-python==4.10.0.82
opencv-python-headless==4.10.0.82
matplotlib>=3.6.1
funcy==2.0
numpy==1.24.4
cython
setuptools
tqdm
argparse
future
prettytable
openmim
tensorboard
wandb
setuptools==69.5.1


#--extra-index-url https://download.pytorch.org/whl/cu118
#torch==2.0.1
#torchvision==0.15.2